body{
    margin: 0;
    font-family: 'Montserrat';
    font-size: 14px;
    color: crimson;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0px;
    border: 0 none;
    outline: 0 none;
    vertical-align: baseline;
}

.book {
    display: flex;
    margin-bottom: 20px;
    border-bottom: 1px solid #CCC;
}

.img {
    border: 1px solid #CCC;
}
.img > img {
    width: 100px;
}

.list {
    padding: 20px 20px;
}
